.animal {
    height: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 0;
    border-left: 1px solid orange;
    border-right: 1px solid orange;
}

.imgDescription {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.imgDescription > * {
    margin: 10px;
}

.imgDescription img {
    width: 50%;
    align-self: center;
    margin: 15px;
}

.imgDescription .imgHome {
    width: 40%;
    max-width: 400px;
}

.imgDescription .imgGroupPage {
    width: 90%;
    max-width: 500px;
}

.imgDescription .imgPopup {
   width: 80%;
   max-width: 400px;
}

.speciesHeadline {
    text-align: center;
    font-family: "Paytone One";
}

.animalInfo {
    background-color: rgb(231, 222, 196);
    padding: 8px;
    margin: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.animalInfo a {
    text-transform: capitalize;
}


.disableClick a {
    pointer-events: none;
    color: black;
    text-decoration: none;
}

.hide {
    display: none;
}

.animal {}

.echidna {}

.quokka {}

.devil {}

.kookaburra {}

.cassowary {}

.cockatoo {}

.frillneck {}

.perentie {}

.hawksbill {}

@media screen and (min-width: 768px) {
    
    .imgDescription {
        flex-direction: row;
    }

    .imgDescription .imgHome {
        width: 20%;
    }

    .imgDescription .imgGroupPage {
        width: 50%;
    }

}