.home {
    padding: 8px;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.homeAnimal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeSub {
    width: 230px;
    align-self: center;
    text-align: center;
    margin: 0;
    padding: 15px;
    background-color: rgb(106, 137, 108);
    font-family: "Paytone one";
    font-size: 1.2rem;
    color: rgb(252, 155, 0);
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-radius: 50%;
}

.readMore {
    background-color: rgb(85, 132, 114);
    color: white;
    border-radius: 4px;
    width: 120px;
    padding: 6px 16px;
    transition: 300ms;
}

.readMore:hover {
    background-color: rgb(125, 163, 149);
}

.animalPopup {
    background-color: rgb(230, 243, 231);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
    position: fixed;
    height: 85%;
    top: 75px;
    left: 1%;
    right: 1%;
    border: 2px black solid;
    border-radius: 3px;
    overflow: auto;
}