.animalGroupPage {
    display: flex;
    flex-direction: column;
    width: 115%;
    padding: 5px;
}

.subPageTitle {
    text-align: center;

    margin: 0 30px;
    padding: 15px;
    background-color: rgb(106, 137, 108);
    font-family: "Paytone one";
    font-size: 1.6rem;
    color: rgb(252, 155, 0);
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-radius: 50%;
}