.animalGroupPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 5px;
}

.subPageTitle {
    width: 230px;
    text-align: center;
    align-self: center;
    margin: 0 ;
    padding: 15px;
    background-color: rgb(106, 137, 108);
    font-family: "Paytone one";
    font-size: 1.6rem;
    color: rgb(252, 155, 0);
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-radius: 50%;
}