.header {
    background-image: url(../../assets/images/AI-hero.jpeg);
    background-size: cover;
    min-height: 300px;
    color: rgb(247, 235, 208)
}

h1 {
    margin: 0;
    text-transform: capitalize;
    padding: 20px;
    font-size: 4rem;
    -webkit-text-stroke: 0.2px rgb(30, 28, 28);
    font-family: "Paytone One";
} 