.sidebar {
    min-width: 110px;
    max-width: 120px;
    min-height: 100%;
    background-color: rgb(247, 247, 236);
    padding: 8px;
    border-right: 1px solid rgb(244, 166, 48);
}

.sidebarSubHead h3 {
    font-family: "Paytone one";
    font-size: 1.1rem;
}

.sidebar p {
    margin: 6px;
    cursor: pointer;
    transition: 100ms;
}

.sidebar p:hover {
    color: rgb(207, 110, 0);
}

@media screen and (min-width: 768px) {
    
    .sidebar {
        min-width: 150px;
    }

}