.footer {
    padding: 24px;
    text-align: center;
    background-color: rgb(70, 99, 72);
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.footer p {
    margin: auto 15px;
}