@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");


* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.active {
    color: rgb(235, 126, 2);
}

span {
    font-weight:bolder
}